<%- layout('layout') %>
<main>
  <ul id="slide-out"class="side-nav fixed">
    <li>
      <div class="userView">
        <div class="background">
          <img src="images/doc-img.jpg" >
        </div>
        <a href="/"><img class="circle" src="images/doc-pic.jpg"></a>
        <a href="/"><span class="white-text name" style="font-weight:bold;"><%= user.profile.nombre %></span></a>
        <a href="/"><span class="white-text email" style="font-weight:bold;"><%= user.profile.correo %></span></a>
      </div>
    </li>
    <li><a href="/doctor"><i class="material-icons">arrow_back</i>Regresar a inicio</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/doctor/<%= Paciente._id %>" class="waves-effect waves-light"><i class="material-icons">assignment_ind</i>Información de <%= Paciente.informacion.nombre_completo %></a></li>
    <li><a href="/doctor/<%= Paciente._id %>/antecedentes" class="waves-effect waves-light"><i class="material-icons">assignment_ind</i>Antecedentes de <%= Paciente.informacion.nombre_completo %></a></li>
    <li><a class="subheader" style="font-size:20px; text-align:center;">Consultas</a></li>
    <li><a href="/doctor/<%= Paciente._id %>/nueva_consulta" class="waves-effect waves-light btn"><i class="material-icons">create_new_folder</i>Nueva Consulta</a></li>
    <h5>Consultas Anteriores: </h5>
    <% for(var i=Consultas.length-1; i >= 0 ; i--) { %>
    <li class="collection-item">
      <span class="title"><%= moment(Consultas[i].consulta.diagnostico.date).locale('es').format("LL") %></span>
      <a href="/doctor/<%= Paciente._id %>/<%= Consultas[i].consulta._id %>" class="secondary-content"><i class="material-icons">forward</i></a>
    </li>
    <% } %>
  </ul>
  <nav>
    <div class="nav-wrapper" style="background-color:#26a69a;">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <a href="/" class="brand-logo"><img style="height:auto; width:8%;" src="images/navbar-logo.png"> Expediente Medico</a>
      <div class="input-field right">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <div class="card white darken-1">
        <div class="card-content black-text center-align">
            <div class="row">
              <h3>Consulta del: <%= moment(Consulta.diagnostico.date).locale('es').format("LL")%></h3>
              <div class="input-field col s12">
                <textarea id="textarea1" name="Consulta" class="materialize-textarea" style="min-height: 25rem; color:black;" disabled placeholder="Aqui puede escribir la informacion recabada durante la consulta o sus anotaciones importantes"><%= Consulta.diagnostico.Consulta %></textarea>
                <label for="textarea1">Consulta General</label>
              </div>
        </div>
      </div>
    </div>
  </div>
</main>
