<%- layout('layout') %>
<main>
  <ul id="slide-out" class="side-nav fixed">
    <li>
      <div class="userView" style="padding: 5px 0 32px 27px;">
        <div class="background">
          <img src="images/assis-pic.jpeg" style="width:100%;">
        </div>
        <a href="#!name"><span class="black-text name" style="font-weight:bold;"><%= user.profile.nombre %></span></a>
        <a href="#!email"><span class="black-text email" style="font-weight:bold;"><%= user.profile.correo %></span></a>
      </div>
    </li>
    <li><a class="subheader" style="font-size:20px; text-align:center;">Citas</a></li>

    <ul class="collection">
      <% for(var i=0; i < Pacientes.length ; i++) { %>
      <li class="collection-item">
        <div>
          Nombre: <%= Pacientes[i].paciente.informacion.nombre %>
          <a href="#!" class="secondary-content"><i class="material-icons">assignment_turned_in</i></a>
          <br>

        </div>
      </li>
      <% } %>
    </ul>

    <li><a href="#nueva_cita"><i class="material-icons">event</i>Agendar nueva cita</a></li>
    <li><a href="/logout" class="waves-effect waves-light btn">Cerrar Sesion</a></li>
  </ul>
  <div id="nueva_cita" class="modal">
    <div class="modal-content center-align">
      <h4>Nueva Cita</h4>
      <form action="/assistant/cita" method="post">
        <div class="input-field">
          <input type="date" class="datepicker" id="date" name="dia_cita" required>
          <label for="date">Selecciona una fecha</label>
        </div>
        <div >
          <label for="time">Selecciona la hora</label>
          <input type="text" class="timepicker" id="time" name="hora_cita" required>
        </div>
        <div class="input-field">
          <select required name="paciente">
            <option value="" disabled selected>Selecciona al paciente</option>
            <% for(var i=0; i < Pacientes.length ; i++) { %>
            <option value="<%= Pacientes[i].paciente._id %>"><%= Pacientes[i].paciente.informacion.nombre %></option>
            <% } %>
          </select>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Agendar Cita
          <i class="material-icons left">event</i>
        </button>
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
    </div>
  </div>
  <nav>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper" style="background-color:#26a69a;">
      <a href="/" class="brand-logo center"><img style="height:60px; width:auto;" src="images/navbar-logo.png"> Expediente Medico</a>
    </div>
  </nav>
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <div class="card white darken-1">
        <div class="card-content black-text center-align">
          <form method="post">
            <div class="row">
              <% if (err.length > 0) { %>
                <blockquote class="error_text">
                  <i class="material-icons prefix">error</i>
                  <span><%= err %></span>
                </blockquote>
                <% } %>
              <h3>Nuevo Paciente</h3>
              <div class="input-field col s8">
                <i class="material-icons prefix">person</i>
                <input id="name_wife" type="text" pattern="[A-Z,a-z, ]*" name="name_wife" class="validate" required>
                <label for="name_wife" data-error="Solamente caracteres">Nombre Completo</label>
              </div>
              <div class="input-field col s4">
                <input id="edad_wife" type="number" name="edad_wife" class="validate">
                <label for="edad_wife">Edad</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">cake</i>
                <input type="date" name="birth" class="birthpicker" id="birth">
                <label for="birth">Fecha de Naciemiento</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" name="email" class="validate" required>
                <label for="email" data-error="Verifica tu correo">Correo</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">place</i>
                <input id="place" type="text" name="place">
                <label for="place">Domicilio</label>
              </div>
              <div class="input-field col s3">
                <i class="material-icons prefix">phone</i>
                <input id="telefono" type="number" pattern="[789][0-9].{10,}$" name="telefono" class="validate" placeholder="xxx-xxx-xxxx">
                <label for="telefono" data-error="Verifica el numero">Telefono de casa</label>
              </div><div class="input-field col s3">
                <i class="material-icons prefix">smartphone</i>
                <input id="cellular" type="number" pattern="[789][0-9].{10,}$" name="cellular" class="validate" placeholder="xxx-xxx-xxxx">
                <label for="cellular" data-error="Verifica el numero">Telefono celular</label>
              </div>
              <div class="input-field col s6">
                <select name="civil">
                  <option value="" disabled selected>Estado Civil</option>
                  <option value="casada">Casada</option>
                  <option value="soltera">Soltera</option>
                  <option value="divorciada">Divorciada</option>
                  <option value="viuda">Viuda</option>
                </select>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">work</i>
                <input id="work" type="text" pattern="[A-Z,a-z, ]*" name="work" class="validate">
                <label for="work" data-error="Solamente caracteres">Ocupación</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">place</i>
                <input id="workplace" type="text" name="workplace">
                <label for="workplace">Domicilio de trabajo</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="work_phone" type="number" pattern="[789][0-9].{10,}$" name="work_phone" class="validate" placeholder="xxx-xxx-xxxx">
                <label for="work_phone" data-error="Verifica el numero">Telefono del trabajo</label>
              </div>

              <!-- Esposo -->
              <div class="input-field col s8">
                <i class="material-icons prefix">person</i>
                <input id="name_men" type="text" pattern="[A-Z,a-z, ]*" name="name_men" class="validate" required>
                <label for="name_men" data-error="Solamente caracteres">Nombre del esposo</label>
              </div>
              <div class="input-field col s4">
                <input id="edad_men" type="number" name="edad_men" class="validate">
                <label for="edad_men">Edad del esposo</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">work</i>
                <input id="men_work" type="text" pattern="[A-Z,a-z, ]*" name="men_work" class="validate">
                <label for="men_work" data-error="Solamente caracteres">Ocupación del esposo</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="men_phone" type="number" pattern="[789][0-9].{10,}$" name="men_phone" class="validate" placeholder="xxx-xxx-xxxx">
                <label for="men_phone" data-error="Verifica el numero">Telefono del esposo</label>
              </div>

              <div class="input-field col s12">
                <i class="material-icons prefix">person</i>
                <input id="recomendation" type="text" pattern="[A-Z,a-z, ]*" name="recomendation" class="validate" required>
                <label for="recomendation" data-error="Solamente caracteres">Recomendado por:</label>
              </div>

              <button class="btn waves-effect waves-light" type="submit">Guardar Paciente
                <i class="material-icons left">person_add</i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
